.nav-hover:hover {
  color: #0d6efd !important;
}

.hover-shadow {
  transition: transform 0.3s;
}
.hover-shadow:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-hover:hover {
  background-color: #005cbe; /* Biru */
  color: white;
  transition: background-color 0.5s ease; /* Animasi transisi */
}

.card-hover:hover .card-title,
.card-hover:hover .card-subtitle,
.card-hover:hover .card-text,
.card-hover:hover .text-primary .text-muted,
.card-hover:hover .text-primary,
.card-hover:hover .btn {
  color: white !important;
}

.card-hover:hover .btn {
  background-color: rgb(0, 0, 141);
}

.marquee {
  overflow: hidden;
  position: relative;
}

.marquee-inner {
  display: flex;
  animation: marquee 20s linear infinite;
}

.marquee-inner img {
  flex-shrink: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.slide-in {
  opacity: 0.5;
  transform: translateX(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.slide-in.visible {
  opacity: 1;
  transform: translateX(0);
}

.navbar-toggler {
  border-color: rgb(190, 214, 255);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(190, 214, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
